*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgba(45,253,246,1) 100%; 
}

form, div{
    width: 40px;
    min-width: 350px;
    background: white;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
}

input , textarea{
    position: relative;
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    height: 40px;
    padding-left: 10px;
    margin-top: 15px;
}

textarea{
    height: 200px;
    padding-top: 10px;
}

button{
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 310px;
    border-radius: 5px;
    background:  rgb(124, 124, 199);
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 0.5;
}

h1, p{
    width: 400px;
    
}